body {
    background-color: #833ab4;
    background-image: linear-gradient(to bottom, #833ab4, #fcb045);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  
