body {
    background-color: #5f9ea0;
    background-image: linear-gradient(to bottom, #5f9ea0, #2e8b57);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  
